.sideManuItemWrapper{
    position: relative;
}
.active .SideNavBarHeading span {
    color: var(--colorPrimary);
}
.SideNavBarHeading,.sideMenuItem,.SideNavBarFooterItem
{
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 4px 0;
    position: relative;
    cursor: pointer;
}
.SideNavBarHeading img,.sideMenuItem img,.SideNavBarFooterItem img{
    height: 24px;
    width: 24px;
}
.SideNavBarHeading span,.sideMenuItem span,.SideNavBarFooterItem span{
    font-weight: 400;
    font-size: 16px;
}
.sideMenuItem span{
    font-size: 15px;
}
.sideMenuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sideMenuItemInfo {
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.sideMenuItemInfo img {
    height: 28px;
    width: 28px;
}
.sideMenuItemToggleIconBtn {
    background: transparent;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sideMenuItem .sideMenuItemToggleIcon {
    height: 18px;
    width: 18px;
}
.sideMenuItemSubItem {
    font-weight: 400;
    font-size: 14px;
    padding: 5px 0;
    padding-left: 34px;
}
.SideNavBarFooter {
    border-top: 1px solid var(--colorGray);
}
.SideNavBarBody {
    height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x: hidden;
}
.active .sideMenuItemSubItem {
    color: var(--colorPrimary);
}
.sideMenuItemInfo img.iconWorkPlace {
    height: 23px;
    width: 28px;
}

.sideMenuItemInfo img.iconSetting
 {
    height: 23px;
    width: 28px;
}
.SideNavBarWrapper a {
    color: #444;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}


.SideNavBarWrapper.collapsed{
    position: relative;
    width: 50px;
    min-width: 50px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SideNavBarHeading span,
.SideNavBarWrapper,
.sideMenuItemInfo  span,
.SideNavBarFooterItem  span,
.sideMenuItemSubItem
{
    transition: all 0.3s ease;
}
.SideNavBarWrapper.collapsed .sideMenuItemSubItem{
    font-size: 0;
    padding:0;
}
.SideNavBarWrapper.collapsed .SideNavBarHeading span ,
.SideNavBarWrapper.collapsed .sideMenuItemInfo  span,
.SideNavBarWrapper.collapsed .SideNavBarFooterItem  span
{
    font-size: 0 ;
}
.SideNavBarWrapper.collapsed .IconCollapseSideMenu{
    transform: rotate(180deg);
}


.SideNavBarWrapper.collapsed .sideMenuItemToggleIconBtn{
    display: none;
}
.SideNavBarWrapper.collapsed .SideNavBarBody{
    overflow: visible;
}
.SideNavBarWrapper.collapsed .sideMenuItemSubItemList .sideMenuItemSubItem{
    font-size: 14px;
    padding: 5px 0;
}
.SideNavBarWrapper.collapsed .sideMenuItemSubItemList{
    position: absolute;
    width: 160px;
    background: var(--colorWhite);
    border: 1px solid var(--colorGray);
    z-index: 1;
    padding: 12px;
    top: -1px;
    left: 48px;
    border-radius: 7px;
    display: none;
}
.SideNavBarWrapper.collapsed .SideNavBarHeading,.SideNavBarWrapper.collapsed  .sideMenuItem,.SideNavBarWrapper.collapsed  .SideNavBarFooterItem,
.SideNavBarWrapper.collapsed .sideMenuItemInfo{
    column-gap: 0;
}
.SideNavBarWrapper.collapsed .sideManuItemWrapper:hover .sideMenuItemSubItemList{
    display: block;
}
.SideNavBarWrapper.collapsed .sideManuItemWrapper {
    position: relative;
    width: 50px;
    display: flex;
    justify-content: center;
}
.SideNavBarWrapper.collapsed  .sideMenuItemSubItem:hover{
    color:var(--colorPrimary);
}
.sideMenuItemToggleIconBtn.normal {
    transform: rotate(-90deg);
}
.sideMenuItemSubItemList.hide {
    transition: all 0.3s linear;
    max-height: 0;
    overflow: hidden;
}
.sideMenuItemSubItemList.show {
    transform-origin: top left;
    transition: all 0.3s linear;
    max-height: 200px;
    overflow: visible;
}
.SideNavBarWrapper.collapsed .sideMenuItemSubItemList{
    transition: all 0.3s linear;
    max-height: 400px;
    overflow: visible;
}
.SideNavBarWrapper.collapsed .sideManuItemWrapper:hover {
    background: var(--colorGray);
}